{% extends 'base.html.twig' %}
 
{% block title %}Réinitialiser votre mot de passe | Le Coin Gaming
{% endblock %}

{% block body %}
	<div class="container __reset_password_div">
		{% for flashError in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<h1>Réinitialiser votre mot de passe</h1>

		{{ form_start(requestForm, {attr: {'novalidate': 'novalidate'}}) }}
		{{ form_row(requestForm.email) }}
		<div>
			<small>
				Entrez votre adresse mail, nous vous enverrons un mail de réinitialisation de mot de passe sous peu.
			</small>
		</div>

		<button class="btn btn-primary">Envoyez le lien de réinitialisation</button>
		{{ form_end(requestForm) }}
	</div>
{% endblock %}
