{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe | Le Coin Gaming{% endblock %}

{% block body %}
<div class="container __reset_password_reset">
    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm , {attr: {'novalidate': 'novalidate'}}) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">Réinitialiser</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}