{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau jeu | Le Coin Gaming{% endblock %}

{% block body %}
<div class="containerSell1">
    <div class="sell">
        <div class="formSell1">
            <h1>Ajouter un jeu</h1>

            {{ include('jeu/_form.html.twig') }}
            <div class="text-center">
                <a href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>

</div>
{% endblock %}