{% extends 'base.html.twig' %}

{% block title %}New Jeu{% endblock %}

{% block body %}
    <div class="containerSell">
		<div class="formSell">
            <h1>Ajouter un jeu</h1>

            {{ include('jeu/_form.html.twig') }}
            <div class="text-center">
                <a href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
