{% extends 'base.html.twig' %}

{% block title %}Edit Annonce{% endblock %}

{% block body %}
    <h1>Modifier mon Annonce : </h1>

    {{ include('annonce/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('profil_annonce') }}">Retour à mes annonces:</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
