{% extends 'base.html.twig' %}

{% block title %}Vendre un Produit{% endblock %}

{% block body %}
<div class="containerSell">
    <div class="formSell">
        <h1>Vendre un Produit</h1>

        {{ include('annonce/_form.html.twig') }}

        <a href="{{ path('home') }}">Retour à l'accueil</a>
    </div>

</div>

{% endblock %}