{% extends 'base.html.twig' %}

{% block title %}New Annonce{% endblock %}

{% block body %}
<div class="containerSell">
    <div class="formSell">
        <h1>Vendre un Produit</h1>

        {{ include('annonce/_form.html.twig') }}

        <a href="{{ path('annonce_index') }}">back to list</a>
    </div>

</div>

{% endblock %}