{% extends 'base.html.twig' %}

{% block title %}{{ app.user.pseudo }}{% endblock %}

{% block body %}
<div class="containerProf">
    <div class="accueilProf">
            <div class="titreProf">
                    <p>Bienvenue</p>
                    <h1>{{ app.user.pseudo }}</h1>
                    <a href="#"><input type="button" class="modifProf" value="Modifier Mon Profil"></a>
                    <a href="{{ path('profil_annonce') }}"><input type="button" class="btn btn-primary" value="Mes Annonces"></a>
            </div>

    </div>
</div>

<section class="fil1">
  <div class="lastAnn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptas maxime ullam ratione possimus et rerum? Libero ab veritatis sunt assumenda laborum voluptatem, eligendi dolores doloremque, eveniet neque nisi aliquam?</div>
  <div class="descProf">Bonjour </div>
</section>
{% endblock %}
