* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "popp", sans-serif, Arial, Helvetica;
  text-decoration: none;
}

* > a {
  cursor: pointer;
}
/*\\\\\\\\\\\\\\\\\\  HEADER ////////////////// */

.logo a {
  text-decoration: none;
  color: white;
}
nav ul a.link {
  color: #fb8500;
}
header {
  text-align: center;
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: rgba(0, 33, 38, 0.8);
}
.scrolling-active {
  background: #002126;
}
.toggler {
  display: none;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  padding-left: 25px;
  margin-bottom: 0;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: bold;
}
nav ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 16px;
  background: -o-linear-gradient(225deg, #002126, #001214);
  background: linear-gradient(-135deg, #002126, #001214);
  right: -100%;
  -webkit-clip-path: circle(25px at calc(100% - 45px) 45px);
  clip-path: circle(25px at calc(100% - 45px) 45px);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  list-style: none;
}
nav li {
  margin: 50px 13px;
  line-height: 50px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
nav a:hover {
  background: #002126;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #7fd9e0;
}
.toggler:checked ~ nav ul {
  top: 0;
  left: 0;
  -webkit-clip-path: circle(75%);
  clip-path: circle(75%);
}
.toggler:checked ~ label #btn {
  display: none;
}
.toggler:checked ~ label #cancel {
  display: block;
}
.burger {
  position: absolute;
  font-size: 35px;
  color: white;
  top: 0;
  right: 0;
  margin-right: 16px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2;
}
label #cancel {
  display: none;
}
/* **********Responsive*********** */

/* Format PC */
@media screen and (min-width: 1224px) {
  .burger {
    display: none;
  }

  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr auto minmax(300px, 1fr);
    grid-template-columns: 1fr auto minmax(300px, 1fr);
  }

  .logo {
    margin-left: 45px;
    font-size: 16px;
    height: 100%;
    width: 30%;
  }

  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 17px;
  }

  nav ul {
    all: unset;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  nav li {
    line-height: 0px;
  }

  nav ul li a {
    font-size: 20px;

    border-radius: 3px;
  }
}

/* \\\\\\\\\\\\\\\\\\\\ ACCUEIL //////////////////////*/
.containerAcc {
  height: 100vh;
  background-image: url("../img/1788067.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.accueil {
  background: rgba(0, 33, 38, 0.5);
  height: 100vh;
}

.titre {
  position: relative;
  z-index: 2;
  padding-top: 280px;
}

.titre h1 {
  font-size: 60px;
  padding-left: 7vw;
  position: relative;
  right: 8px;
  color: white;
  width: 75%;
  padding-bottom: 20px;
}

.titre p {
  font-size: 30px;
  padding-left: 7vw;
  margin: 7px 0;
  color: white;
}

.button {
  margin: 20px 0 0 7vw;
  padding: 12px;
  font-size: 20px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #7fd9e0;
  color: white;
}

.button:hover {
  background: #67bfc5;
}

.desc {
  display: none;
}

.rad {
  display: none;
}
/* **************Responsive************** */

/* Format PC */
@media screen and (min-width: 1025px) {
  .desc {
    display: block;
    width: 25vw;
    position: absolute;
    top: 250px;
    right: 20%;
  }
  /* Slider */
  .slider-container {
    position: relative;
    -webkit-perspective: 350px;
    perspective: 350px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .slide-content p {
    padding: 0;
    text-align: center;
  }
  .carousel-3d-item {
    position: absolute;
    top: 50%;
    left: 40%;
    outline: 1px solid transparent;
  }
  .slide-img img {
    width: 250px;
  }
  #carousel-3d-controller-1 ~ .carousel-3d-item:nth-of-type(1),
  #carousel-3d-controller-1 ~ .carousel-3d-item:nth-of-type(2),
  #carousel-3d-controller-1 ~ .carousel-3d-item:nth-of-type(3) {
    -webkit-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    -o-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
  }
  .carousel-3d-item:nth-of-type(2),
  #carousel-3d-controller-1:checked ~ .carousel-3d-item:nth-of-type(2),
  #carousel-3d-controller-2:checked ~ .carousel-3d-item:nth-of-type(3),
  #carousel-3d-controller-3:checked ~ .carousel-3d-item:nth-of-type(1) {
    -webkit-transform: translateX(-175px) translateZ(-130px);
    transform: translateX(-175px) translateZ(-130px);
    opacity: 0.7;
    -webkit-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    -o-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
  }
  .carousel-3d-item:nth-of-type(1),
  #carousel-3d-controller-1:checked ~ .carousel-3d-item:nth-of-type(1),
  #carousel-3d-controller-2:checked ~ .carousel-3d-item:nth-of-type(2),
  #carousel-3d-controller-3:checked ~ .carousel-3d-item:nth-of-type(3) {
    -webkit-transform: translateX(0) translateZ(0);
    transform: translateX(0) translateZ(0);
    opacity: 1;
    -webkit-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    -o-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
  }
  .carousel-3d-item:nth-of-type(3),
  #carousel-3d-controller-1:checked ~ .carousel-3d-item:nth-of-type(3),
  #carousel-3d-controller-2:checked ~ .carousel-3d-item:nth-of-type(1),
  #carousel-3d-controller-3:checked ~ .carousel-3d-item:nth-of-type(2) {
    -webkit-transform: translateX(175px) translateZ(-130px);
    transform: translateX(175px) translateZ(-130px);
    opacity: 0.7;
    -webkit-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    -o-transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
    transition: all 1s cubic-bezier(0.48, 0.16, 0.15, 0.98);
  }
}

/* Format Tablette */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .containerAcc {
    margin-top: -15%;
  }
  .titre {
    padding-top: 370px;
  }
}

/* Jeux Récents */

.classJeu1 {
  background: #001214;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
  -webkit-box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
  -moz-box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
}
.imgdesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.classJeu1 h2,
.classJeu1 p {
  color: white;
  text-align: center;
}
.classJeu1 h2 {
  padding-bottom: 20px;
}
.classJeu1 a {
  width: 44%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.classJeu1 img {
  width: 100%;
}
.classJeu1 .desc1 {
  width: 100%;
  padding-top: 20px;
}
.classJeu1 .desc1 .buttonPop {
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: green;
  color: white;
}
.desc1 {
  text-align: center;
}
/* *************Responsive************ */

/* Format PC */
@media screen and (min-width: 1224px) {
  .classJeu1 .imgdesc {
    margin: 0 auto;
  }
  .classJeu1 a {
    width: 25%;
    padding: 6px;
  }
  .classJeu1 img {
    width: 100%;
  }
}

/* Fonctionnalités */

.fonct {
  background: #002126;
}
.fonct h1,
.fonct h3,
.fonct p {
  color: white;
  text-align: center;
}
.imgser {
  text-align: center;
}
.imgser .fas {
  font-size: 50px;
  margin: auto;
  padding-bottom: 30px;
  color: white;
}
.border {
  background: black;
  width: 100%;
  height: 2px;
}
.fonct1,
.fonct2,
.fonct3 {
  padding: 25px;
}

.fonct3 a:hover {
  text-decoration: none;
}
/* **************Responsive************** */

/* Format PC */
@media screen and (min-width: 1224px) {
  .fonctP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fonct2,
  .fonct1,
  .fonct3 {
    width: 36%;
  }
  .border {
    background: white;
    width: 4px;
    height: 300px;
  }
}

/* Ventes Récentes */

.ventesR {
  background: #001214;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
  -webkit-box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
  -moz-box-shadow: 0px -3px 20px 15px rgba(0, 0, 0, 0.88) inset;
}
.imgdesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ventesR h2,
.ventesR p {
  color: white;
  text-align: center;
}
.ventesR h2 {
  padding-bottom: 20px;
}
.ventesR a {
  width: 44%;
  margin: 0 auto;
  padding-bottom: 10px;
}
.ventesR img {
  width: 100%;
}
.ventesR .desc1 {
  width: 100%;
  padding-top: 20px;
}
.ventesR .desc1 .buttonPop {
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: green;
  color: white;
}
.desc1 {
  text-align: center;
}
/* ************Responsive************ */

/* Format PC */
@media screen and (min-width: 1224px) {
  .ventesR .imgdesc {
    margin: 0 auto;
  }
  .ventesR a {
    width: 15%;
    padding: 6px;
  }
}

/* \\\\\\\\\\\\\\\\\\\\\ INSCRIPTION /////////////////////*/

.register {
  height: 100vh;
  background-image: url("../img/zelda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backRegis {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formRegis {
  color: white;
}
.formG {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form1 {
  margin-right: 15px;
}

.formRegis h1 {
  text-align: center;
}
.formRegis .btn {
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #7fd9e0;
  color: white;
}

.formRegis .btn:hover {
  background: #67bfc5;
}

/* \\\\\\\\\\\\\\\\\\\PAGE LOGIN ///////////////////// */

.login {
  height: 100vh;
  background-image: url("../img/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backLog {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLog {
  color: white;
}

.formLog1 h1 {
  text-align: center;
}
.formLog1 .btn {
  margin-top: 10px;
  padding: 12px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #7fd9e0;
  color: white;
}

.formLog1 .btn:hover {
  background: #67bfc5;
}

/* \\\\\\\\\\\\\\\\\PAGE VENTE////////////////////*/

.containerSell {
  background-image: url("../img/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.backSell {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formSell {
  color: white;
  width: 50%;
}

.formSell h1 {
  text-align: center;
}

.containerSell1 {
  background-image: url("../img/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.sell {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSell1 {
  color: white;
  width: 50%;
}

.formSell1 h1 {
  padding-top: 100px;
  text-align: center;
}

/* \\\\\\\\\\\\\\\\\PAGE PROFIL///////////////////*/

.containerProf {
  height: 100vh;
  background-image: url("../img/red.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.accueilProf {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.titreProf h1 {
  font-size: 90px;
  color: white;
  padding-bottom: 20px;
}
.titreProf p {
  font-size: 30px;
  margin: 7px 0;
  color: white;
}
.modifProf {
  padding: 12px;
  font-size: 20px;
  width: 250px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #7fd9e0;
  color: white;
}

.modifProf:hover {
  background: #67bfc5;
}

/* ***************Responsive************** */

@media screen and (min-width: 1224px) {
  .containerProf {
    height: 115vh;
  }
}

/* \\\\\\\\\\\\\\\\\Page Modification du Profil/////////////// */

.modifProf1 {
  height: 100vh;
  background-image: url("../img/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backModif {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formModif {
  color: white;
}
.profilEd {
  width: 75%;
}
.btnR {
  background: #7fd9e0;
  color: white;
}
.btnR:hover {
  background: #67bfc5;
  color: white;
}

/* \\\\\\\\\\\\\\\Page Mes Annonces (Utilisateur)///////////// */
.containerAnnprof {
  background: #002126;
  color: white;
  height: 100vh;
  display: grid;
  align-items: center;
}
.containerAnnprof h1 {
  text-align: center;
}

/* \\\\\\\\\\\\\\\\Page Voir l'Annonce//////////////// */
.containershowAnn {
  height: 125vh;
  background: #002126;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorRef {
  color: #7fd9e0;
}
.showAnn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.showAnnleft {
  width: 60%;
}
.showAnnright {
  margin: 50px 0;
  width: 35%;
}

/* ********************Responsive************** */
@media screen and (min-width: 1224px) {
  .containershowAnn {
    height: 100vh;
  }
  .showAnnright {
    padding-top: 50px;
    margin-left: -10%;
  }

  .showAnn {
    margin: 0;
  }
}

/* \\\\\\\\\\\\\\\Page Modification de l'annonce//////////////// */
.containerEditann {
  height: 100vh;
  background-image: url("../img/horizon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.backEdit {
  background: rgba(0, 33, 38, 0.7);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerEditann h1 {
  text-align: center;
}
.formEdit {
  width: 50%;
  margin: 0 auto;
  color: white;
}

/* //////////////////FAQ\\\\\\\\\\\\\\\\\ */

.containerFaq {
  height: 100vh;
  background: #001214;
  display: flex;
  align-items: center;
}

.card-header {
  background: #7fd9e0;
}
.card button:hover {
  color: #002126;
  text-decoration: none;
}
.card button {
  color: white;
}
.card-body {
  background: white;
}

/* \\\\\\\\\\\\\\\\\\\\\FOOTER///////////////////////// */

footer {
  background: #001214;
  padding: 20px;
  display: grid;
  justify-content: center;
  width: 100%;
}

.titreFoot {
  margin: 0;
  color: white;
  width: 100%;
  text-align: center;
}

.liens {
  width: 100%;
}
.socials {
  width: 22%;
  color: white;
  padding-left: 100px;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
}
.socials i {
  margin: 0 10px;
}
footer .liens > ul {
  display: grid;
  text-align: center;
}

footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

footer li {
  padding: 20px;
  line-height: 2em;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

footer a:hover {
  background: #002126;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #7fd9e0;
}

footer p {
  margin: 0;
}

.socials i {
  font-size: 30px;
}

@media screen and (min-width: 1224px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .liens {
    width: 45%;
  }

  footer .liens > ul {
    display: flex;
    justify-content: space-around;
  }

  footer li {
    padding: 0;
  }

  .titreFoot {
    padding-left: 50px;
    width: 30%;
    text-align: center;
  }

  .socials {
    width: 22%;
    color: white;
    padding-left: 100px;
  }
}

/* /////////////////////////////// CSS ZINEDINE //////////////////////////// */
.__search_bar_div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.__search_bar {
  margin-top: 40px;
  width: 300px;
  height: 50px;
  padding: 0.5rem;
  background-color: #001518;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(48, 48, 48, 0.3);
}

.__search_bar::placeholder,
.__search_bar:focus {
  color: #bfecf2;
  padding-left: 1rem;
  outline: none;
}

.__search_bar_div_container {
  display: block;
  justify-content: center;
}

.__search_icon_div {
  display: none;
}

@media screen and (max-width: 1224px) {
  .__search_bar_div {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .__search_bar {
    margin: 15px 150px;
    width: 250px;
  }

  header {
    display: flex;
  }
}

@media screen and (max-width: 968px) {
  .__search_bar {
    display: none;
  }

  .__search_icon_div {
    z-index: 5;
    display: flex;
    margin: 30px 50px;
  }

  .__search_icon {
    font-size: 30px;
    color: white;
  }

  .btn-activated {
    border: turquoise solid 1.5px;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 4;
  }
}

.__show_button:hover {
  color: #fb8500;
}

.__reset_password_div,
.__reset_password_reset {
  margin: 18rem auto;
}

body {
  background: #002126;
  color: white;
}

/* /////////////////////////////// FIN CSS ZINEDINE //////////////////////////// */
