{% extends 'admin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Modification de l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <div class="my-3">
        <a href="{{ path('user_index') }}">Retour à la liste</a>
    </div>

</div>
{% endblock %}
